@import "bootstrap-custom";

$grid-gutter-width: 30px;

header {
  border-bottom: 1px solid $gray-lighter;
}

footer {
  border-top: 1px solid $gray-lighter;

  .copy {
    color: $gray-light;
  }

  ul.links {
    // margin: 0;

    li {
      a {
        color: $gray-light;
      }
    }
  }
}

@import "site/section";
@import "site/card";
