@import "bootstrap-custom";

$logo-height: 22px !default;

header {
  border-bottom: 1px solid $gray-lighter;

  .logo {
    padding: 0;
    margin-right: $grid-gutter-width;

    img {
      height: $logo-height;
      margin-top: ($navbar-height - $logo-height) / 2;
    }
  }

  .navbar-default {
    font-size: $font-size-middle;
  }
}

footer {
  border-top: 1px solid $gray-lighter;
  padding: $navbar-padding-horizontal 0;

  .copy {
    color: $gray-light;
  }

  ul.links {
    margin: 0;

    li {
      a {
        color: $gray-light;
        font-style: normal;
      }
    }
  }
}

@import "site/section";
