<section class="section banner">
  <div class="container">

    <div class="row cover-row">
      <div class="col-md-8" style="">
        <img src="/images/nier-title3.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-4 profile-wrap">
        <img src="/images/cattailstitlefinal2.jpg" class="img-fluid" alt="">
      </div>
    </div>

    <!-- <div class="m-4"></div>

    <div class="row" style="">
      <div class="col-md-4">{{> test}}</div>
      <div class="col-md-4">{{> test}}</div>
      <div class="col-md-4">{{> test}}</div>
    </div> -->

  </div>
</section>
