<section class="section banner">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div style="">
          <div class="row" style="">
            <div class="col-md-12">
              <!-- {{> test}} -->
              <img src="/images/cattailstitlefinal.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=100%C3%97400&w=4280&h=5020" class="img-fluid"/>
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="">
      <div class="col-md-4">{{> test}}</div>
      <div class="col-md-4">{{> test}}</div>
      <div class="col-md-4">{{> test}}</div>
    </div>

  </div>
</section>
