<section class="section banner">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div style="height: 400px;">
        <div class="row" style="height: 240px;">
          <div class="col-md-12 d-flex align-items-stretch">
            {{> test}}
          </div>
        </div>
        <div class="row" style="height: 130px; margin-top: 30px;">
          <div class="col-md-6 d-flex align-items-stretch">{{> test}}</div>
          <div class="col-md-6 d-flex align-items-stretch">{{> test}}</div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="height: 400px;" class="d-flex align-items-stretch">
          <img src="/images/nier-title3.jpg" width="100%" alt="">
        </div>

      </div>
    </div>

  </div>
</section>
