<section class="section banner">
  <div class="container">

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <img src="/images/nier-title3.jpg" height="300" alt="">
      </div>
      <div class="col-xs-6 col-md-4">
        <img src="/images/nier-title3.jpg" height="100" alt="">
      </div>
      <div class="col-xs-6 col-md-4">
        <img src="/images/nier-title3.jpg" height="100" alt="">
      </div>
    </div>

  </div>
</section>
