<footer>
  <div class="container">
    <ul>
      <li><a href="/about">关于我们</a></li>
      <li><a href="/careers">加入我们</a></li>
      <li><a href="/feedback">意见建议</a></li>
    </ul>
    <span class="copy">© 2017 辞不辞</span>
  </div>
</footer>
