<footer>
  <div class="container">
    <ul class="links pull-right list-inline list-unstyled">
      <li><a href="/about">关于我们</a></li>
      <li><a href="/careers">加入我们</a></li>
      <li><a href="/feedback">意见反馈</a></li>
    </ul>
    <span class="copy">© 2017 辞不辞</span>
  </div>
</footer>
