<footer>
  <div class="container">
    <ul class="links float-right list-inline list-unstyled">
      <li class="list-inline-item"><a href="/about">关于我们</a></li>
      <li class="list-inline-item"><a href="/join">加入我们</a></li>
      <li class="list-inline-item"><a href="/feedback">意见反馈</a></li>
    </ul>
    <span class="copy">© 2017 辞不辞</span>
  </div>
</footer>
