<!DOCTYPE html>
<html>
<head>

	<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{title}} - 辞不辞</title>
  <meta name="description" content="">
  <meta name="author" content="wayne@cibuci.com">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/skeleton/normalize.css">
  <link rel="stylesheet" href="/css/skeleton/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <style media="screen">
    body {
      text-align: center;
    }
  </style>

</head>
<body>
<img src="/images/ey-macarena.gif" alt="" height="200" style="margin-top:100px;">
<h1>即将到来 - 辞不辞</h1>
<p>What would you do if you weren't afraid?</p>
</body>
</html>
