<!DOCTYPE html>
<html>
<head>
	<title>{{title}} - 辞不辞</title>
</head>
<body>
{{title}}
{{isArray "abc"}}
{{> test}}
<img src="/images/ey-macarena.gif" alt="" height="200">
<h1>辞不辞</h1>
</body>
</html>
