{{> header}}

<!-- {{> section-title type='banner' title='特别展柜'}} -->

{{> banner}}

{{> section-title type='article-lists' title='精选文章'}}

<section class="section section-article">
  <div class="container">

    <ul class="list-inline list-unstyled">
      <li class="list-inline-item">全部</li>
      <li class="list-inline-item">遇见·自己</li>
      <li class="list-inline-item">种草·拔草</li>
      <li class="list-inline-item">匠人·匠心</li>
    </ul>

    <hr />

    <ul class="list-unstyled">
      {{#each list}}
        {{> card-home-article this}}
      {{/each}}
    </ul>

  </div>
</section>


{{> footer}}
