{{> header}}

<!-- <div class="container">
  {{> section-title type='banner' title='特别展柜'}}
</div> -->

{{> banner}}

<div class="container">
  <hr />
</div>

<section class="section section-article">
  <div class="container">
<!--
    <nav class="nav">
      <a class="nav-link active" href="#">全部</a>
      <a class="nav-link" href="#">遇见·自己</a>
      <a class="nav-link" href="#">种草·拔草</a>
      <a class="nav-link" href="#">匠人·匠心</a>
    </nav> -->

    <div class="row">
      <div class="col-md-9">

        {{> section-title type='article-lists' title='精选文章'}}

        <div class="row">
          {{#each list}}
            <div class="col-md-4">
              {{> card-home-article this}}
            </div>
          {{/each}}
        </div>
      </div>

      <div class="col-md-3" style="border-left: 1px solid #f2f2f2;">
        <div class="card">
          <div class="card-block text-nowrap">
            边栏
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{{> footer}}
