{{> header}}

events

{{> footer}}



<section class="hero is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <div class="container is-fluid">
        <nav class="nav has-shadow">
        <div class="nav-left">
          <a class="nav-item">
            <img src="/images/logo.png" alt="Bulma logo">
          </a>
          <a class="nav-item is-tab is-hidden-mobile is-active">PK</a>
          <a class="nav-item is-tab is-hidden-mobile">话题</a>
          <a class="nav-item is-tab is-hidden-mobile">文章</a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab is-hidden-tablet is-active">PK</a>
          <a class="nav-item is-tab is-hidden-tablet">话题</a>
          <a class="nav-item is-tab is-hidden-tablet">文章</a>
          <a class="nav-item is-tab">
            <figure class="image is-16x16" style="margin-right: 8px;">
              <img src="http://bulma.io/images/jgthms.png">
            </figure>
            Profile
          </a>
          <a class="nav-item is-tab">Log out</a>
        </div>
    </nav>
    </div>
  </div>

  <div class="hero-body columns is-gapless is-multiline is-mobile">
    <div class="column">
      <p class="notification is-success">Auto</p>
    </div>
    <div class="column is-narrow">
      <div class="box"  style="width: 300px;">
        <p class="notification is-info">
          <code class="html">is-one-quarter</code>
        </p>
      </div>
    </div>
  </div>

  <!-- Hero content: will be in the middle -->
  <!-- <div class="hero-body">

    <!-- <div class="container has-text-centered">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div> -->
  </div> -->

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
