hr {
  border-color: $gray-lighter;
}

.icon {
   width: 1.2em;
   height: 1.2em;
   vertical-align: -0.25em;
   fill: currentColor;
   overflow: hidden;
}

.of-h {
  overflow: hidden;
}

.btn-cbc-light {
  background-color: transparent;
  color: $gray-light;
}
