
header {
  border-bottom: 1px solid $gray-lighter;
}

footer {
  border-top: 1px solid $gray-lighter;
  font-size: $font-size-sm;
  padding: $spacer;

  .copy {
    color: $gray-light;
  }

  ul.links {
    margin: 0;

    li {
      a {
        color: $gray-light;
      }
    }
  }
}
