.section {
  margin: $grid-gutter-width-base 0;
}

.section-title {
  text-align: center;
  margin-top: $grid-gutter-width-base * 1.5;
  margin-bottom: $grid-gutter-width-base / 2;

  h4 {
    position: relative;
    font-weight: 200;
    padding-top: 60px;

    &:before {
      background-image: url(/images/TNY_lineart_sprite@2x.png);
      background-size: auto 50px;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -90px;
      width: 182px;
    }
  }
}
